<div class="container py-5">
  <div class="row mx-auto g-2">
    <h1 class="text-center my-5">Contact Form</h1>
    <div class="col-lg-8 mx-auto">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [formControl]="name" />
        <mat-error> Pleace fill your Name </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-8 mx-auto">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="email" />
        <mat-error *ngIf="!email.hasError('email')">
          Pleace fill your Email id
        </mat-error>
        <mat-error *ngIf="email.hasError('email')">
          Enter correct email formet
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-8 mx-auto">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Phone number</mat-label>
        <input matInput [formControl]="phno" />
        <mat-error> Pleace fill your phone number </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-8 mx-auto">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Message</mat-label>
        <textarea matInput [formControl]="message"></textarea>
        <mat-error> Please enter the message </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-8 mx-auto d-flex justify-content-between">
      <p style="color: red">
        {{ isErr ? "* Please fill all the field" : " " }}
      </p>
      <app-button (click)="submit()"></app-button>
    </div>
  </div>
  <div class="row mx-auto my-5">
    <div
      class="col-lg-3 alert mx-auto alert-info align-items-center d-flex"
      role="alert"
    >
      <mat-icon> call </mat-icon>
      <a href="tel:+91000390209" class="ps-2">+91 000390209 </a>
    </div>
    <div class="col-lg-3 alert mx-auto alert-success align-items-center d-flex">
      <mat-icon> mail </mat-icon>
      <a href="mailto:sample@gmail.com" class="ms-2">sample&commat;gmail.com</a>
    </div>
    <div
      class="col-lg-3 mx-auto alert alert-dark p-5 align-items-center d-flex"
      role="alert"
    >
      <mat-icon> place </mat-icon>
      <a
        target="_blank"
        href="https://www.bing.com/maps?osid=402c972b-36ba-4d54-b6a6-52a466a4e951&cp=13.030252~80.26386&lvl=17&pi=0&v=2&sV=2&form=S00027"
        class="ms-2"
        >Map</a
      >
    </div>
  </div>
</div>
